
// https://flexboxgrid.com/
@require '../../node_modules/flexboxgrid/dist/flexboxgrid.css'

//
// common config
//
@import '../theme/common'


#intro
#building-blocks
#benefits
#signup
#partnerships
#bottom
  p, a
    ui-fonts()
  p
    color #011b33
    line-height 1.5rem
    font-size $body-medium-font-size
  span
    color #011b33
    line-height 1.5rem
    font-size $body-meduim-font-size
    font-family poppins
  headings()

//
// components
//

@import '../theme/components/btn'

//
// content sections
//
@import '../theme/sections/top-menu'
@import '../theme/sections/landing/intro'
@import '../theme/sections/landing/building-blocks'
@import '../theme/sections/landing/benefits'
@import '../theme/sections/signup'
@import '../theme/sections/bottom'