<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      type="text/javascript"
      src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
      data-dojo-config="usePlainJson: true, isDebug: false"
    ></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tradeport - How it works</title>

    <link rel="stylesheet" href="./styles/how-it-works.css" />
  </head>
  <body>
    <div id="top-menu-outer">
      <div class="page-container">
        <div id="top-links-row" class="row bottom-md middle-xs">
          <span class="col-xs-8">
            <a id="top-menu-logo" href="/">
              <img src="./img/logo.png" alt="Tradeport" />
            </a>
          </span>
          <label id="top-menu-toggler" for="top-menu-checkbox" class="col-xs-4">
            <div id="top-menu-hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </label>
          <div id="top-links-outer" class="col-xs-4">
            <input id="top-menu-checkbox" type="checkbox" />
            <div id="top-menu-links" class="end-xs">
              <a href="#about" class="active">About</a>
              <a href="#" target="_blank">Blog</a>
              <a href="#" target="_blank">Contribute</a>
              <a href="#" target="_blank">Bounties</a>
              <a href="how-it-works.html">How it works</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="benefits">
      <div class="page-container">
        <div class="row">
          <div class="col-xs center-xs">
            <h4>How it works</h4>
            <span>Peer to peer marketplace</span>
          </div>
          <!-- Peer to peer marketplace content -->
        </div>
        <div class="row">
          <div class="col-xs center-xs">
            <h4>How it works</h4>
            <span>Bounties</span>
          </div>
          <!-- Peer to peer marketplace content -->
        </div>
        <div class="row">
          <div class="col-xs center-xs">
            <h4>How it works</h4>
            <span>Karma</span>
          </div>
          <!-- Peer to peer marketplace content -->
        </div>
      </div>
    </div>
    <div id="signup">
      <div class="page-container">
        <div class="row">
          <div class="col-xs center-xs">
            <h2 class="signup-heading">Sign Up for Update</h2>
            <span> and get to know more about our activities </span>
            <form
              id="mc-embedded-subscribe-form"
              method="POST"
              action="#"
              class="validate"
              target="_blank"
              novalidate
            >
              <input type="hidden" name="" value="" />
              <input
                id="mce-email"
                name="EMAIL"
                type="email"
                value=""
                placeholder="Your email address"
                required
              />
              <input
                id="mc-embedded-subscribe"
                name="subscribe"
                type="submit"
                value="Sign Up"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="bottom">
      <div class="page-container">
        <div class="row">
          <div class="col-xs-11 col-md-2"></div>
          <div class="col-xs-12 col-md-10">
            <div class="row">
              <div class="col-xs-5 col-md-3 bottom-link-outer">
                <div class="bottom-link-title">COMPANY</div>
                <a href="#">About</a> <a href="#">Blog</a>
                <a href="#" target="_blank">Contribute</a>
                <a href="#" target="_blank">How it works</a>
                <a href="#">Careers</a>
              </div>
              <div class="col-xs-6 col-md-3 bottom-link-outer">
                <div class="bottom-link-title">PRODUCTS</div>
                <a href="#" target="_blank">Bounties</a>
              </div>
              <div class="col-xs-6 col-md-3 bottom-link-outer">
                <div class="bottom-link-title">CONTACT US</div>
                <a href="mailto:contact@tradeport.com">contact@tradeport.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if (dev === true) { %>
    <script
      async
      id="__bs_script__"
      src="http://127.0.0.1:9924/browser-sync/browser-sync-client.js?v=2.23.6"
    ></script>
    <% } %>
  </body>
</html>
