<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      type="text/javascript"
      src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js"
      data-dojo-config="usePlainJson: true, isDebug: false"
    ></script>
    <meta charset="utf-8" />
    <title>Tradeport</title>

    <link rel="stylesheet" href="./styles/index.css" />
  </head>
  <body>
    <div id="top-menu-outer">
      <div class="page-container">
        <div id="top-links-row" class="row bottom-md middle-xs">
          <span class="col-xs-8">
            <a id="top-menu-logo" href="/">
              <img src="./img/logo.png" alt="Tradeport" />
            </a>
          </span>
          <label id="top-menu-toggler" for="top-menu-checkbox" class="col-xs-4">
            <div id="top-menu-hamburger">
              <div class="line"></div>
              <div class="line"></div>
              <div class="line"></div>
            </div>
          </label>
          <div id="top-links-outer" class="col-xs-4">
            <input id="top-menu-checkbox" type="checkbox" />
            <div id="top-menu-links" class="end-xs">
              <a href="#about" class="active">About</a>
              <a href="#" target="_blank">Blog</a>
              <a href="#" target="_blank">Contribute</a>
              <a href="#" target="_blank">Bounties</a>
              <a href="how-it-works.html">How it works</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="intro">
      
      <div class="page-container">
        <div class="row intro-container">
          <div id="intro-description" class="col-xs-12 col-sm-7 col-md-5">
            <h1>The next generation global borderless trade network.</h1>
            <a class="btn white" href="#">
              <img src="./img/social/slack.svg" alt="Join our Slack" />Join our
              Slack
            </a>
            <a href="#" target="_blank" class="btn blue"> Whitepaper </a>

            <form
              id="mc-embedded-subscribe-form"
              method="POST"
              action="#"
              class="validate"
              target="_blank"
              novalidate
            >
              <input type="hidden" name="" value="" />
              <input
                id="mce-email"
                name="EMAIL"
                type="email"
                value=""
                placeholder="Your email address"
                required
              />
              <input
                id="mc-embedded-subscribe"
                name="subscribe"
                type="submit"
                value="Sign Up"
              />
            </form>
          </div>
          <img
            id="intro-hexagons-right"
            src="./img/intro/supplychain.png"
            width="600"
            height="auto"
            alt=""
          />
        </div>
      </div>
    </div>

    <div id="building-blocks">
      <div class="page-container">
        <div id="building-blocks-points">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
              <div class="bb-subsection2">
                <h3>TradePort</h3>
                <div class="bb-description-link">
                  <p>
                    Our Explorer gives you access to a global market of projects
                    and talent. Easily create and fulfill tasks, and transact in
                    any token on Ethereum with automated payments.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7"></div>
            <div class="col-xs-12 col-sm-12 col-md-7"></div>
            <div class="col-xs-12 col-sm-12 col-md-5">
              <div class="bb-subsection2">
                <h3>What is Karma?</h3>
                <div class="bb-description-link">
                  <p>
                    Karma outsources customer service using a pay per task model
                    to significantly lower costs, increase flexibility and
                    efficiency with the benefits of cryptocurrency and the
                    blockchain.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
              <div class="bb-subsection2">
                <h3>What is peer to peer marketplace?</h3>
                <div class="bb-description-link">
                  <p>
                    A peer to peer marketplace allows users to create their own
                    marketplace website that works as a separate entity (peer)
                    that connects to tradePort and other peers in the system in
                    order to create a network of trades all seperate but shows
                    up on the main tradePort website.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-7"></div>
            <div class="col-xs-12 col-sm-12 col-md-7"></div>
            <div class="col-xs-12 col-sm-12 col-md-5">
              <div class="bb-subsection2">
                <h3>What are Bounties?</h3>
                <div class="bb-description-link">
                  <p>
                    Bounties allow you to create tasks, collaborate and get paid
                    for doing work in any domain
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="benefits">
      <div class="page-container">
        <div class="row">
          <div class="col-xs center-xs">
            <h2>
              Trade faster, more efficiently<br />
              with trustless blockchain transaction
            </h2>
          </div>
        </div>
        <div class="row">
          <div
            class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 benefit-section"
          >
            <div class="benefits-img">
              <img
                src="./img/benefits/trustless.svg"
                alt="Trustless"
                width="120"
                height="auto"
              />
            </div>
            <div class="benefits-title"><h3>Trustless</h3></div>
            <div class="benefits-description">
              <p>No intermediaries & interference from Third parties.</p>
            </div>
          </div>
          <div
            class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 benefit-section"
          >
            <div class="benefits-img">
              <img
                src="./img/benefits/immutable.svg"
                alt="Immutable"
                width="120"
                height="auto"
              />
            </div>
            <div class="benefits-title"><h3>Immutable</h3></div>
            <div class="benefits-description">
              <p>Once you trade, its on the blockchain for good.</p>
            </div>
          </div>
          <div
            class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-0 benefit-section"
          >
            <div class="benefits-img">
              <img
                src="./img/benefits/decentralized.svg"
                alt="Decentralized"
                width="120"
                height="auto"
              />
            </div>
            <div class="benefits-title"><h3>Decentralized</h3></div>
            <div class="benefits-description">
              <p>No central power source controlling trade.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="signup">
      <div class="page-container">
        <div class="row">
          <div class="col-xs center-xs">
            <h2 class="signup-heading">Sign Up for Update</h2>
            <span> and get to know more about our activities </span>
            <form
              id="mc-embedded-subscribe-form"
              method="POST"
              action="#"
              class="validate"
              target="_blank"
              novalidate
            >
              <input type="hidden" name="" value="" />
              <input
                id="mce-email"
                name="EMAIL"
                type="email"
                value=""
                placeholder="Your email address"
                required
              />
              <input
                id="mc-embedded-subscribe"
                name="subscribe"
                type="submit"
                value="Sign Up"
              />
            </form>
          </div>
        </div>
      </div>
    </div>

    <div id="bottom">
      <div class="page-container">
        <div class="row">
          <div class="col-xs-11 col-md-2"></div>
          <div class="col-xs-12 col-md-10">
            <div class="row">
              <div class="col-xs-5 col-md-3 bottom-link-outer">
                <div class="bottom-link-title">COMPANY</div>
                <a href="#">About</a> <a href="#">Blog</a>
                <a href="#" target="_blank">Contribute</a>
                <a href="#" target="_blank">How it works</a>
                <a href="#">Careers</a>
              </div>
              <div class="col-xs-6 col-md-3 bottom-link-outer">
                <div class="bottom-link-title">PRODUCTS</div>
                <a href="#" target="_blank">Bounties</a>
              </div>
              <div class="col-xs-6 col-md-3 bottom-link-outer">
                <div class="bottom-link-title">CONTACT US</div>
                <a href="mailto:contact@tradeport.com">contact@tradeport.com</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% if (dev === true) { %>
    <script
      async
      id="__bs_script__"
      src="http://127.0.0.1:9924/browser-sync/browser-sync-client.js?v=2.23.6"
    ></script>
    <% } %>
  </body>
</html>
